* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  background-color: #ffc93c;
  font-family: Arial, Helvetica, sans-serif; }

header {
  padding: 1rem;
  font-size: 2rem;
  color: #31326f;
  text-align: center;
  background-color: #fab402; }

main {
  padding: 0.5rem; }

.menue {
  position: relative;
  display: block;
  border-radius: 15px;
  margin: 1rem; }
  .menue__img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0rem 0.1rem 0.4rem black; }
  .menue__txt {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 2px black; }

.city {
  position: relative; }
  .city__back {
    padding: 0rem 0.5rem;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    background-color: #dbf6e9;
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 4rem;
    font-weight: bolder;
    color: #31326f; }
  .city__img {
    width: 100%;
    border-radius: 0 0 40px 40px;
    box-shadow: 0rem 0.1rem 0.4rem black; }
  .city__head {
    text-align: center;
    font-size: 5rem;
    padding: 1rem;
    color: #31326f; }
  .city__content {
    border-radius: 30px;
    background-color: #dbf6e9;
    margin: 1rem;
    padding: 2rem;
    color: #31326f;
    font-size: 2rem; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #31326f;
  background-color: #fab402; }

.heart {
  color: red; }

.audio {
  margin: 1rem; }

.pic__source {
  margin: 1rem;
  font-size: 1rem;
  color: #31326f; }
